.pagina{
    background-color: black;
}

.titulo-principal{
    padding-left: 20px;
    color: rgb(39, 44, 110); 
    background-color: #5c5858;
    margin-right: 550px;
}

#oficina{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.link-contato {
    background-color: #ffffff; 
    text-align: center;

}

.principal{
    background: #CCCCCC
}

.servicos{
    color: white;
    padding: 3px;
    font-style: italic;
    text-align: center;
    background-color: #5c5858;
}

.listagemserviços{
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 0%;
}

.endereco{
    color: #ffffff;
    padding: 3px;
    font-style: italic;
    text-align: center;
    background-color: #5c5858;

}

.contato{
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
}


