/* INICIO DA CONFIGURAÇÃO DO CABEÇALHO*/
.pagina{
    background-color: #5c5858;
}

header{
    background: #ffffff;   
    padding: 20px 0;
}

.menu{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: coral;
    text-decoration: underline;
}
/* FIM DA CONFIGURAÇÃO DO CABEÇALHO*/

/*INICIO DO CONTEUDO DA PAGINA*/
main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px; /*dando um espaço de 10px da label pra baixo*/
}

.input-padrao  {
    display: block;
    margin: 0 0 20px; /*dando um espaço de 20px do input pra baixo*/
    padding: 10px 25px; /*aumentando tamanho interno do meu input*/
    width: 50%; /*aumentando a largura*/
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background; /*qndo usar o hover, a transição da mudança de qndo passar o mouse, poderá ser alterada para
    não ser instantaneo e sim com algum segundo a mais*/
    cursor: pointer; /*sempre que o mouse estiver em cima do botão aparecer a maozinha*/
    transition: 1s transform;  /*aumentar o botão com 1 segundo ao inves de instantaneo*/
}

.enviar:hover { /*passando com o mouse por cima do botao*/
    background: darkgreen;
    transform: scale(1.2);
    
    /*
    transform: scale(1.2); /*para aumentar o botao ao passar o mouse por cima em 20%, é feito o calculo da scale 1.2*/
    /*
    transform: rotate(70deg); /*inclina 70 graus*/
   
    /*ao usar duas propriedades iguais para configurar, sempre será valida a ultima adicionada, ou seja
    nesse caso acima a rotate sobescreve a scale, então para isso nao acontecer, podemos usar as duas em 
    uma linha assim:
    transform: rotate(70deg) scale(1.2);*/   
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #000000;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px; /*8px pra cima e pra baixo  15 para os lados*/
}

/*FIM DO CONTEUDO DA PAGINA*/

/*INCIO DO RODAPÉ DA PAGINA*/

footer {
    position: relative;
    text-align: center;
    padding: 40px 0; 
    background: #070707;
    top: 250px;
}

.Copyrigth { 
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0 ; 
}
/*FIM DO RODAPÉ DA PAGINA*/
